.Note-date {
  font-family: var(--monospace);
  color: var(--secondary);
}

.Note-title {
  font-size: 44px;
}

.Note p {
  font-family: 'Overpass', sans-serif;
  font-size: 1.25rem;
}

.Note pre {
  overflow-x: scroll;
}
