.NoteList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.NoteList-item {
  margin-bottom: 40px;
}

.NoteList-item-link {
  font-size: 44px;
  line-height: 1.4;
}

.NoteList-item-date {
  font-size: 16px;
  color: var(--secondary);
  font-family: var(--monospace);
  line-height: 2;
}
